In [ ]:
# Initialize OK
from client.api.notebook import Notebook
ok = Notebook('quiz10.ok')

## Quiz 10

In [ ]:
from datascience import *
import numpy as np
import feedback
%matplotlib inline
from client.api.notebook import Notebook
ok = Notebook('quiz10.ok')

### **Note**: Some questions have feedback that will guide you to the correct answer, while others will have hidden tests that do not provide feedback. For those that do not have feedback, the `ok.grade` cell will say 100% passed, as long as you put one of the possible choices. **100% passed does not necessarily mean you got the question right!**

**Consider the `total_infected` and the `total_deaths` tables in the code cell below. The `total_infected` table
lists Wheaton's county (DuPage) with it's surrounding counties, and the total of their population who have or had COVID-19. The `total_deaths`
table also provides the total number of deaths from COVID-19 in each county.**

*Note: These values were gathered on Feb 16, 2021 from coronavirus.jhu.edu*

In [ ]:
# Run this cell to load the table
total_infected = Table().with_columns(
    'County', make_array('Cook','DuPage',  'Kane', 'Kendall'),
    'total infections', make_array(466422, 74991,  49669, 10793)
)
total_deaths = Table().with_columns(
    'county', make_array('DuPage', 'Will','Cook',  'Kane'),
    'total deaths', make_array(1156, 873, 9159,  700)
)

In [ ]:
# Run this cell to show the table
total_infected

In [ ]:
# Run this cell to show the table
total_deaths

**A. Assign `answer_A` to an array of integers of all lines of code that are valid (if you think 1 and 2 are valid, make an array with the numbers 1 and 2):** 

1. `total_infected.join('County', total_deaths, 'county')`</li>
2. `total_infected.join('County', total_deaths)`</li>
3. `total_deaths.join('County', total_infected, 'city')`</li>
4. `total_deaths.join('county', total_infected, 'County')`</li>

<!--
BEGIN QUESTION
name: qA
manual: false
-->

In [ ]:
answer_A = make_array(...)

In [ ]:
ok.grade("qA");

**B. Are any data lost when joining the** `total_infected` **and** `total_deaths` **tables by `county`? Why or why not?**

<ol>
    <li>No; the resulting table will contain data from both tables. Counties that only exist in one table will have a value of 0 in the column that comes from the other table.</li>
    <li>Yes; only counties contained in both tables are preserved by the join operation.</li>
</ol>

<!--
BEGIN QUESTION
name: qB
manual: false
-->

In [ ]:
answer_B = ...

In [ ]:
ok.grade("qB");

**Bc. Consider the first few rows of the `drinks` table:**

<img src="tbl_examples.png" width=200 height=200 />

**Nancy wants to find the average price of drinks at each cafe. Should she use `group` or `pivot`?**

1. `group`
2. `pivot`

<!--
BEGIN QUESTION
name: qB
manual: false
-->

In [20]:
answer_B = ...

In [ ]:
ok.grade("qC");

### Run the submit cell to receive credit!

In [ ]:
_ = ok.submit()