In [ ]:
# Initialize OK
from client.api.notebook import Notebook
ok = Notebook('quiz05.ok')

# Quiz 5

In [ ]:
# Don't change this cell; just run it. 
# When you log-in please hit return (not shift + return) after typing in your email
from client.api.notebook import Notebook
import feedback
ok = Notebook('quiz05.ok')

### **Note**: Some questions have feedback that will guide you to the correct answer, while others will have hidden tests that do not provide feedback. For those that do not have feedback, the `ok.grade` cell will say 100% passed, as long as you put one of the possible choices. **100% passed does not necessarily mean you got the question right!**

**Submission**: Once you're finished run the submit cell at the end. The result will contain a link that you can use to check that your assignment has been submitted successfully.

Consider the following table `temperatures`:

| Date       | min_temp | max_temp |
|------------|----------|----------|
| 2020-05-01 | 44       | 68       |
| 2020-05-02 | 49       | 72       |
| 2020-05-03 | 45       | 67       |
| 2020-05-04 | 47       | 66       |
| 2020-05-05 | 48       | 64       |
| 2020-05-06 | 42       | 62       |
| 2020-05-07 | 50       | 65       |

**A. Which of these options produces this table? Assign `answer_A` to 1, 2, or 3.**

| Date       | min_temp | max_temp | temp_diff |
|------------|----------|----------|-----------|
| 2020-05-01 | 44       | 68       | 24        |
| 2020-05-02 | 49       | 72       | 23        |
| 2020-05-03 | 45       | 67       | 22        |
| 2020-05-04 | 47       | 66       | 19        |
| 2020-05-05 | 48       | 64       | 16        |
| 2020-05-06 | 42       | 62       | 20        |
| 2020-05-07 | 50       | 65       | 15        |

1. `temperatures.with_column("temp_diff", max_temp - min_temp)`


2. `temperatures.with_column("temp_diff", abs(temperatures.with_column(min_temp) - temperatures.with_column(max_temp)))`


3. `temperatures.with_column("temp_diff", temperatures.column("max_temp") - temperatures.column("min_temp"))`

<!--
BEGIN QUESTION
name: qA
manual: false
-->

In [ ]:
answer_A = ...

In [ ]:
ok.grade("qA");

**B. Recall the `census` table from lecture:**

<img src="census_tbl.png" width=300 height=300 />

**Is the `SEX` variable categorical or numerical? Assign `answer_B` to either 1 or 2.**
<ol>
    <li>categorical</li>
    <li>numerical</li>
</ol>

<!--
BEGIN QUESTION
name: qB
manual: false
-->

In [ ]:
answer_B = ...

In [ ]:
ok.grade("qB");

**C. Robbie is trying to create a new table that only shows data on males between the ages of 97 and 100, inclusive. As a reminder, sex of 1 is male and sex of 2 is female. Which line of code could he use? Assign answer_C to 1,2,3, or 4(s)**

*Hint: Check out the [Python Reference](https://math-121-spring-21.github.io/python-reference.html) guide for information on `table.where()` predicates.*

1. `census.where('SEX', are.equal_to(1)).where('AGE', are.between(97, 100))`
2. `census.where('SEX', are.equal_to(1)).where('AGE', are.between(97, 101))`
3. `census.where('SEX', are.equal_to(1), 'AGE', are.between(97, 100))`
4. `census.where('SEX', are.equal_to(1), 'AGE', are.between(97, 101))`

<!--
BEGIN QUESTION
name: qB
manual: false
-->

In [ ]:
answer_C = ...

In [ ]:
ok.grade("qC");

In [ ]:
_ = ok.submit()